<div class="calenderfont"><span class="firstC">C</span><span class="secondA">a</span><span class="thirdL">L</span><span class="fourE">e</span><span class="theN">n</span><span class="fiveD">d</span><span class="sixE">a</span><span class="sevenR">r</span></div>
  <span style="display:inline-block; width: 200px;"></span> <span>of Jason </span><br>
   <span><span style="display:inline-block; width: 220px;"></span> Email: Jasonzhao5219@gmail.com <span style="display:inline-block; width: 100px;"></span> Phone: 626-318-9370 <br><span style="display:inline-block; width: 220px;"></span> LinkedIn: https://www.linkedin.com/in/jasonzhao5219/<span style="display:inline-block; width: 100px;"></span> GitHub: https://github.com/jasonzhao5219 </span>
   
   

  
  <H3><a [routerLink]="['/march']"> March</a> 2018</H3>

   <form class="Management" (submit)="managementsubmit()"><input type="submit" name="bbg" value="Management"></form>

  <router-outlet></router-outlet>
